@import "tailwindcss";

@keyframes bouncing {
    0%{
        transform: translateY(30px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(30px);
    }
}

@keyframes color-hover {
    0%{
        background: green;
    }
    20%{
        background: linear-gradient(to right,yellow, green, green);
        
    }
      40%{
        background: linear-gradient(to right,yellow, yellow, green);
        
    }
      60%{
        background: linear-gradient(to right,yellow, yellow, yellow);
        
    }
      80%{
        background: linear-gradient(to right,green, yellow, yellow);
        
    }
    100%{
        background: linear-gradient(to right,green, green, yellow);
    }
}

@keyframes color-hover2 {
    0%{
        background: yellow;
    }
    18%{
        background: linear-gradient(to right,green, yellow, yellow);
        
    }
      36%{
        background: linear-gradient(to right,green, green, yellow);
        
    }
      54%{
        background: linear-gradient(to right,green, green, green);
        
    }
      72%{
        background: linear-gradient(to right,yellow, green, green);
        
    }
    90%{
        background: linear-gradient(to right, yellow , yellow, green);
    }
      100%{
        background: linear-gradient(to right, yellow , yellow, yellow);
    }
}

@layer utility{
    .gradient{
        background: linear-gradient(to right bottom, white, yellow);
        background-repeat: no-repeat;
    }
    .gradient:hover{
        background: linear-gradient(to right bottom, rgb(255, 255, 0), rgb(255, 255, 0));
        background-repeat: no-repeat;
    }

    .b1-hover:hover{
        animation: color-hover 0.7s infinite;
    }
    .b2-hover:hover{
        animation: color-hover2 0.7s infinite;
    }
    .shadow_animated{
        animation: shadow 3s infinite;
    }
    .shadow_{
        filter: drop-shadow(1px, 1px, 30px #fff);
    }
    .yellow{
        background-color: yellow;
    }
    .colyellow{
        color: yellow;
    }
}